ul {
    display: flex;
    list-style-type: none;
}

ul li {
    padding: 5px;
    margin-right: 15px;
}
ul li a {
    text-decoration: none;
    color: black;
    padding: 5px;
    font-family: 'Segoe UI';
}

ul li a:hover {
    color: blue;
    font-weight: bold;
}