<div class="container">    
    <app-card 
        gameCover="assets/bt-1.jpg"
        gameLabel="Digital"
        gameType="PS4 PC"
        gamePrice="R$ 69,90"
    ></app-card>

    <app-card 
        gameCover="assets/bt-4.jpg"
        gameLabel="Digital"
        gameType="PS4 PC"
        gamePrice="R$ 59,99"
    ></app-card>

    <app-card 
        gameCover="assets/bt-5.jpg"
        gameLabel="Digital"
        gameType="XBOX PS4 PC"
        gamePrice="R$ 79,80"
    ></app-card>

    <app-card 
        gameCover="assets/ac-cover.jpg"
        gameLabel="Digital"
        gameType="XBOX PS4 PC"
        gamePrice="R$ 19,90"
    ></app-card>

    <app-card 
        gameCover="assets/bt-bad-company-2.jpg"
        gameLabel="Digital"
        gameType="XBOX PS4 PC"
        gamePrice="R$ 88,90"
    ></app-card>

    <app-card 
        gameCover="assets/bt-hardline.jpg"
        gameLabel="Digital"
        gameType="XBOX PS4 PC"
        gamePrice="R$ 119,90"
    ></app-card>

</div>