<div class="container">    
    <app-card 
    gameCover="assets/bt-5.jpg"
    gameLabel="Digital"
    gameType="PS4 PC"
    gamePrice="R$ 459,99"
    ></app-card>

    <app-card 
    gameCover="assets/bt-1.jpg"
    gameLabel="Exclusive"
    gameType=" PC"
    gamePrice="R$ 259,99"
    ></app-card>

    <app-card 
    gameCover="assets/bt-4.jpg"
    gameLabel="Digital"
    gameType="XBOX PS4 PC"
    gamePrice="R$ 659,99"
    ></app-card>

    <app-card 
    gameCover="assets/ac-cover.jpg"
    gameLabel="Digital"
    gameType="XBOX PS4 PC"
    gamePrice="R$ 359,99"
    ></app-card>

</div>